<div class='boardOptions'>
  <h1>
    Game
  </h1>
  <div class='controls'>
    <button type='submit' onclick='game._reset()'>NEW <br />GAME</button>
    <button type='submit' onclick='game._clearBoard()'>CLEAR <br /> PIECES</button>
    <button type='submit'  onclick='game.rotate()'>ROTATE BOARD</button>
  </div>
  <fieldset>
    <label class='forClock'>
      <input name='useGameClock' type='checkbox' /> 
        <div class='checkspot'></div>
        <p class='instructions'>SHOW GAME CLOCK</p>
    </label>
  </fieldset>
  <fieldset>
    <legend>
      SELECT VARIANT
    </legend>
    <label>
      <input name='variant' type='radio' checked=true />
      <div class='radio'></div>
       <p class='instructions'>STANDARD CHESS</p>
    </label>
    <br />
    <label>
       <input name='variant' type='radio' />
       <div class='radio'></div>
        <p class='instructions'>960 FISCHER-RANDOM</p>
    </label>
    <br />
    <label>
       <input name='variant' type='radio' />
       <div class='radio'></div>
        <p class='instructions'>PRINCES 7x7</p>
    </label>
    <br />
    <label>
       <input name='variant' type='radio' />
       <div class='radio'></div>
        <p class='instructions'>EMPTY BOARD</p>
       <input type='text' name='rows' value=8></input> <span class='x'>x</span>
       <input type='text' name='columns' value=8></input> 
    </label>
  </fieldset>
</div>