	html, body {
		height:100%;	
		max-width:1000px;
		position:relative;
	}
	body {
		background: black ;
		overflow-y: hidden;
		max-width: 1150px;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
	body, img, div {
		margin: 0;
		padding: 0;
	}
		
	.rotate, .rotate img {
		tranform-origin: 50% 50%;	
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	
	.black {
		background: #999;	
	}
	
	.white {
		background: #fff;
	}
	
	.hide {
		display:none;
	}
	
	#table {
		position:absolute;
		top:10px;
		left:10px;
		border-spacing: 0;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
		-webkit-tranform-origin:50% 50%;
	}
	
	#table > div {
		width:100px;
		height:100px;
		border:none;
		position:absolute;
	}
	
	#table div > img {
		width: 100%;
		height: 100%;
	}
		
	.captured {
		margin:10px 0;
		top:10px;
		width:100%;
		min-height:80px;
		background: #eee;
	}
	
	.captured img {
		width:11%;
		overflow:auto;
	}
	button {
		position:relative;
		height:40px;
		width:80px;
	}
	button:hover {
		cursor:pointer;
	}
	
	.chat{
		text-align:left;
		width:100%;
		height:350px;
		background:rgba(255,255,255, .3);
		overflow:hidden;
	}
	
	.chatlog {
		height:245px;
		overflow:auto;
	}
	
	.input {
		bottom:0;
		width:100%;
		border-top:5px solid #000;
		background:#fff url('../../images/chat-bg.png');
		padding: 0;
		margin:0;
		height:100px;
	}
	
	.input > p:focus {
		background:#fff;
	}
	
	.input > p {
		padding:2px 0 2px 2px;
		width: 100%;
		height: 100%;
		margin: 0;
		font-size:18px;
		line-height:18px;
		color:#000;
		overflow: auto;
		background:rgba(255,255,255,.5);
		z-index:2;
	}
	.input > p:focus {
		outline: none;
	}
	.input > .chatTip > h1 {
			font-weight:100;
			color:green
	}

	.chatlog div {
		padding: 5px 3px;
	}
	
	.chatlog p {
		font-size:18px;
		line-height:21px;
		padding: 3px;
		color:#eee;
		display: inline;
		-webkit-transition: background 1s ease-in;
		-webkit-animation: glow 1222ms 1;
	}
	
	@-webkit-keyframes glow {
		0%{
			color:yellow;
		}
		100% {
			color:#eee;
		}
	}
	
	.chatlog h3 {
		color: #fff;
		display: inline;
	}
	.helper {
		position:absolute;
		width: 100px;
		height:100px;
	}
	.dragImg {
		width:100px;
		height:100px;
		position:fixed;
	}
	.fade {
		opacity:.2;
	}
	.sidebar {
		position:absolute;
		top:10px;
		width:320px;
		opacity:.55;
		-webkit-transition: opacity 206ms;
	}
	
	.sidebar:hover, .sidebar.focus{
		opacity:1;
	}
	
	.sidebar h1 {
		margin:0;
		padding:0;
		font-family:sans-serif;
		font-size:40px;
		color: #000;
		margin-bottom:10px;
		background:#333;
		text-align:center;
	}
	
	
	
	
	
	
	
	
	
	
	